{
  "env": {
    "GOOGLE_ANALYTICS": "UA-187973769-1",
    "NODE_ENV": "production"
  },
  "alias": "blog.tedxnitrourkela.com",
  "scale": {
    "sfo1": {
      "min": 1,
      "max": "auto"
    }
  },
  "static": {
    "trailingSlash": false
  }
}
